<form action="submitEntry.html" method="post">
	Type:<select name="type">
		<option>Wine</option>
		<option>Coffee</option>
	</select>
	Name:<input type="text" name="name"/>
	Rating:
		<label><input name="rating" type="radio" value="1"/>1</label>
		<label><input name="rating" type="radio" value="2"/>2</label>
		<label><input name="rating" type="radio" value="3"/>3</label>
		<label><input name="rating" type="radio" value="4"/>4</label>
		<label><input name="rating" type="radio" value="5"/>5</label>
	<input type="submit">
</form>